header{
    background-color: black;
    position: fixed;
    font-weight: bolder;
    color: white;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    text-align: center;
}

header h2{
    font-weight:normal ;
    font-size: medium;
}

nav{
    border: 2px solid whitesmoke;
    padding: 15px;
    background-color: rgb(43, 104, 128);

}

nav ul li {
    display: inline-block;
    padding: 10px;
    align-content: center;
    text-align: left;
    align-items: center;
    color: black;
    background-color: rgba(65, 8, 0, 0.562);
}

body{
 background-color: burlywood;
 font-size: 15pt;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main h5 {
    color: black;
    text-align: left;
    text-decoration: underline blue;
    position: relative;
    top: 400px;
}