
header{
    background-color: black;
    position: fixed;
    font-weight: bolder;
    color: white;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 97%;
    text-align: center;
    padding: 13px;
}

header h2{
    font-weight:normal ;
    font-size: medium;
}

nav{
    border: 2px solid whitesmoke;
    padding: 4px;
    background-color: rgb(43, 104, 128);
   

}

nav ul li {
    display: inline-block;
    padding: 4px;
    align-content: center;
    text-align: center;
    align-items: center;
    color: brown;
    background-color: rgb(209 142 132 / 92%);
    left: 3px;
    position: relative;
    width: 330px;
}


body{
 background-color: burlywood;
 font-size: 15pt;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}


main span {
    color: black;
    text-align: left;
    text-decoration: underline blue;
    position: relative;
    top: 400px;
}